#background{
    width: 1313px;
    height: 625px;
    position: absolute;
    top: -40px;
    left: -50px;
    z-index: 1;
}
#note {
    width: 100px;
    position: absolute;
    top: 70px; 
    left: 700px; 
    z-index: 2;}

p {
    z-index: 2;
    position: absolute;
    top: 700px; 
    left: 70px;
    }
    #homepage{
        font-size: 18px;
        color: #333;
        background-color: #ffc107;
        border: 2px solid #333;
        border-radius: 50px;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;
        transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
        z-index: 2;
        position: absolute;
        top: 10px; 
        left: 10px; 
    }
    
    #homepage:hover{
        background-color: #ffca28;
        color: #fff;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }
    #homepage:active{
        background-color: #ffb300;
        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    }