#background{
    width: 1313px;
    height: 625px;
    position: absolute;
    top: -40px;
    left: -50px;
    z-index: 1;
}
#books1{
    position: absolute;
    top: 355px; 
    left: 625px; 
    width: 100px;
    height: 40px;
    z-index: 2;
}
#books2{
    position: absolute;
    top: 380px; 
    left: 140px; 
    width: 70px;
    height: 40px;
    z-index: 2;
}