body{
    background-image: url("closetroom.png");
}

#safe {
    width: 100px;
    position: absolute;
    top: 100px; 
    left: 320px; 
    z-index: 2;
}

.game-area {
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    z-index: 2;
}

.game-options select, .game-options input {
    border: 1px solid #333;
    padding: 10px;
    margin-right: 10px;
    z-index: 2;
}

.game-board {
    margin-top: 50px;
    padding: 10px;
    z-index: 2;
}

.grid-cell {
    font-size: 40px;
    padding: 15px 25px;
    width: 90px;
    background-color: #FCFCFC;
    z-index: 2;
}

.green-player {
    font-size: 40px;
    padding: 15px 25px;
    width: 90px;
    background-color: green;
    color: #FFF;
    z-index: 2;
}

.red-player {
    font-size: 40px;
    padding: 15px 25px;
    width: 90px;
    background-color: red;
    color: #FFF;
    z-index: 2;
}
#start{
    visibility: hidden;
    font-size: 18px;
    color: #fff;
    background-color: #7167b0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}
#start:hover{
    background-color: #342a77;
    transform: translateY(-3px);
}
#start:active{
    background-color: #7b82df;
    transform: translateY(1px);
}
#tryagain{
    visibility: hidden;
    font-size: 18px;
    color: #fff;
    background-color: #dc3545;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}
#tryagain:hover{
    background-color: #c82333;
    transform: translateY(-3px);
}
#tryagain:active{
    background-color: #bd2130;
    transform: translateY(1px);
}
#homepage{
    visibility: hidden;
    font-size: 18px;
    color: #333;
    background-color: #ffc107;
    border: 2px solid #333;
    border-radius: 50px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}
#homepage:hover{
    background-color: #ffca28;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
#homepage:active{
    background-color: #ffb300;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

